- Embarked (skąd wypłyneli) są różne "dodatkowe" litery zamiast samego "S" jest "So"
- Fare są ujemne kwoty i 4 liczby po przecinku a powinny byc dwie
- Sex są niekompletne dane albo niepoprawne np PassangerID = 21
- Age braki w danych, wiek nie może byc na minusie, wiek nie może wykraczać ponad 100lat, nie może być po przecinku nic poza ".5"
- ID błędnie ponumerowany ostatni wiersz
- Name pojawia się to samo imie "10 Sandstrom, Miss. Marguerite Ru&5$$  female 4 1 " i "13 Sandstrom, Miss. Marguerite Ru&5$$  female 4 1 " oraz w innych również
- Cabin brakujące wartości
- Ilośc danych się nie zgadza w Age jest 719, w Cabin jest 207, a w Embarked jest 890, gdzie reszta posiada 892 wykryte używając komendy test.info()

Zaimportowanie potrzebnych bibliotek

In [1]:
import numpy as np #do roznych obliczen
import pandas as pd #do operacji na danych
import math

import matplotlib.pyplot as plt #do wykresow
import seaborn as sns #do jeszcze ladniejszych wykresow
%matplotlib inline 
pd.set_option('display.max_columns', 500)

Wczytanie pliku i pozbycie sie duplikatów

In [2]:
r_filenameTSV = './TitanicMess.tsv'
print(r_filenameTSV)

# read the data
tsv_read = pd.read_csv(r_filenameTSV, sep='\t')
#pozbycie się duplikatów
db = tsv_read.drop_duplicates()

./TitanicMess.tsv

- Usunięcię kolomny "Cabin", gdyż posiada za mało danych 
- Usunięcie kolumny "PassengersId" gdyż jest niepotrzebna
- Usunięcie kolumny "Ship" gdyż jest niepotrzebna

In [6]:
db['Age'] = db['Age'].astype(str).str.replace(',', '.')
db['Age'] = db['Age'].fillna(0.0)

db['Age'] = db['Age'].astype(float, errors = 'raise')
db['Age'] = db['Age'].replace(np.nan, 0)
#db['Age'] = [x.replace(',', '.') for x in db['Age']]
#db.apply(lambda x: x.str.replace(',','.'))
#usunięcie kolumny Cabin z powodu na ogromną ilość brakujących danych oraz PassengerId ze względu na to że 
#to tylko indeks i nie będzie brał udziału w analizie 
db.drop(["Cabin","PassengerId"], axis = 1, inplace = True)
#db = db.astype({'Age':float})
db.round({'Age': 2})

C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/581163835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Age'] = db['Age'].astype(str).str.replace(',', '.')
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/581163835.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Age'] = db['Age'].fillna(0.0)
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/581163835.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Age'] = db['Age'].astype(float, errors = 'raise')
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/581163835.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Age'] = db['Age'].replace(np.nan, 0)

KeyError: "['Cabin' 'PassengerId'] not found in axis"

Ujednolicenie kolumny "Embarked"

In [7]:
def replace_embarked_names_with_code(db):
    db.Embarked.replace(['So', 'Co', 'Qe'], ['S', 'C', 'Q'], inplace = True)
    return (db)

for i in [db]:
    replace_embarked_names_with_code(i)
db['Embarked'] = db['Embarked'].fillna(0)

#Największe prawdopodobieństwo posiadania klasy w pozycjach w których znaleziono braki to S, 
#dlatego braki zostały zastąpione tą klasą
def replace_embarked_names_code(db):
    db.Embarked.replace([0], ['S'], inplace = True)
    return (db)

for i in [db]:
    replace_embarked_names_code(i)

C:\Users\kiryu\anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/1462160807.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Embarked'] = db['Embarked'].fillna(0)

Ujednolicenie kolumny "Sex" na tylko 2 płcie: "male" i "female"

In [8]:
#Zastapienie nazw plci 
def replace_sex_names_with_code(db):
    db.Sex.replace(['malef', 'fem', 'mal', 'femmale'], ['male', 'female', 'male', 'female'], inplace = True)
    return (db)

for i in [db]:
    replace_sex_names_with_code(i)

Naprawienie kolumny "Age" usunięcie minusowego wieku oraz wieku powyżej 80lat, oraz usunięcie miejsc po przecinków różnych od 0.5

In [9]:
print("<0.5")
db1 = db["Age"]
# code to replace all negative value with 0
db1[db1<0.5] = 0.0
# printing result
print("New resulting array: ", db1)

print(">80.0")
db2 = db["Age"]
# code to replace all negative value with 0
db2[db2>80.0] = 0.0
# printing result
print("New resulting array: ", db2)


df = pd.DataFrame(db)
measurer = np.vectorize(len)
pd.to_numeric(db['Age'],errors='coerce').isnull()
#df['Age'] = df['Age'].fillna(0)
db['Age'].sum()
suma = db['Age'].sum()
res2 = len(db.index)
sredniWiek = suma/res2
dwamiejsca = round(sredniWiek,2)

#wypisanie średniego wieku
print("Średni wiek:", dwamiejsca ) 

def replace_age(db):
    db.Age.replace(['0.0'], [dwamiejsca], inplace = True)
    return (db)

for i in [db]:
    replace_age(i)

#

db['Age'] = db['Age'].astype(str).replace('0.0', dwamiejsca)
db['Age'] = db['Age'].astype(float, errors = 'raise')

#Modulo Age
def changeValueOfAge(db):

    valueOfAge = db['Age'].astype(float)

    print(db['Age'])
    x = valueOfAge%0.5

    if (x!=0.0).any():
        intValueOfAge = x
        intValueOfAge = valueOfAge - intValueOfAge
        db['Age']=intValueOfAge
    elif ():
        print("git")
    else:
        print("git")
    return (db)

for i in [db]:
    changeValueOfAge(i)
print ("Max Age")
print(db['Age'].max())
print ("Min Age")
print(db['Age'].min())

<0.5
New resulting array:  0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
887    19.0
888     0.0
889    26.0
890    32.0
891    38.0
Name: Age, Length: 889, dtype: float64
>80.0
New resulting array:  0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
887    19.0
888     0.0
889    26.0
890    32.0
891    38.0
Name: Age, Length: 889, dtype: float64
Średni wiek: 23.75
0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
       ...
887    19.00
888    23.75
889    26.00
890    32.00
891    38.00
Name: Age, Length: 889, dtype: float64
Max Age
80.0
Min Age
0.5

C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/466133924.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db1[db1<0.5] = 0.0
C:\Users\kiryu\anaconda3\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/466133924.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2[db2>80.0] = 0.0
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/466133924.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Age'] = db['Age'].astype(str).replace('0.0', dwamiejsca)
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/466133924.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Age'] = db['Age'].astype(float, errors = 'raise')
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/466133924.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Age']=intValueOfAge

FARE - naprawa kolumny "Fare", usunięcie minusowych wartości

In [10]:
db['Fare'] = db['Fare'].astype(str).str.replace(',', '.')

db2 = db["Fare"]
db2[db2=="15.9a"] = 15.9

db['Fare'] = db['Fare'].astype(float, errors = 'raise')

print("<0.5")
db1 = db["Fare"]
# code to replace all negative value with 0
db1[db1<0.5] = 0.0
# printing result
print("New resulting array: ", db1)

df = pd.DataFrame(db)
measurer = np.vectorize(len)
pd.to_numeric(db['Fare'],errors='coerce').isnull()
#df['Age'] = df['Age'].fillna(0)
db['Fare'].sum()
suma = db['Fare'].sum()
res2 = len(db.index)
sredniF = suma/res2
dwamiejsca = round(sredniF,2)

#wypisanie średniego Fare
print("Średni Fare:", dwamiejsca ) 

print ("Max Fare")    
print(db['Fare'].max())
print ("Min Fare") 
print(db['Fare'].min())

<0.5
New resulting array:  0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
887    30.0000
888    23.4500
889    30.0000
890     7.7500
891    90.0000
Name: Fare, Length: 889, dtype: float64
Średni Fare: 32.14
Max Fare
512.3292
Min Fare
0.0

C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/428002186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Fare'] = db['Fare'].astype(str).str.replace(',', '.')
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/428002186.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2[db2=="15.9a"] = 15.9
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/428002186.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Fare'] = db['Fare'].astype(float, errors = 'raise')
C:\Users\kiryu\AppData\Local\Temp/ipykernel_2240/428002186.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db1[db1<0.5] = 0.0

- PCLASS - wszystkie dane poprawne
- NAME - wszystkie dane poprawne
- PARCH - wszystkie dane sa poprawne
- SibSp - wszystkie dane są poprawne
- TICKET - wszystkie dane są poprawne
- SURVIVED - wszystkie dane są poprawne
- SHIP - wszystkie dane są poprawne

Wyświetlenie nowo powstałych danych oraz zapis do pliku "TitanicCleand"

In [ ]:
#db.info()
db.head(60)
#db.sample(60)
#db.tail(60)
#db.shape

db.to_csv('TitanicCleaned.tsv', sep="\t")